
<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <link rel="stylesheet" href="static/css/lista.css">
        <meta name="viewport" content="width-device-width, initial-scale=1">
        <title>wwwxkz</title>
        <meta charset="UTF-8"/>
    </head>
    <style>
        strong {
            color: white;
        }
        body {
            font-family: 'Roboto', sans-serif;
            color: gray;
            background-color: black;
            display: flex;
            justify-content: center;

        }
        .container {
            max-width: 900px;
            text-align: justify;
        }
    </style>
    <body>
        <div class="container">
            <div>
                <h1>wwwxkz</h1>
            </div>
            <div>
                {% if posts.has_previous %}
                    <a href="?page=1"><<</a>
                    <a href="?page={{ posts.previous_page_number }}"><<a/a>
                {% endif %}
                {% for num in posts.paginator.page_range %}
                    {% if posts.number == num %}
                        <strong>{{ num }}</strong>
                    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                        {{ num }}
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">></a>
                    <a href="?page={{ posts.paginator.num_pages }}">>></a>
                {% endif %}
            </div>
            <br>
            {% for post in lista_post %}
                <h2><u>{{post.titulo}}<br></u></h2>
                <h4><u>{{post.texto | truncatechars:400 | safe }}<br></u></h4>
            {% endfor %}
            <br>
            <div>
                {% if posts.has_previous %}
                    <a href="?page=1"><<</a>
                    <a href="?page={{ posts.previous_page_number }}"><<a/a>
                {% endif %}
                {% for num in posts.paginator.page_range %}
                    {% if posts.number == num %}
                        <strong>{{ num }}</strong>
                    {% elif num > posts.number|add:'-3' and num < posts.number|add:'3' %}
                        {{ num }}
                    {% endif %}
                {% endfor %}
                {% if posts.has_next %}
                    <a href="?page={{ posts.next_page_number }}">></a>
                    <a href="?page={{ posts.paginator.num_pages }}">>></a>
                {% endif %}
            </div>
        </div>
    </body>
</html>

